# Build info
rbvms/buildInfo.hpp

# Build directories
build/*
debug/*
dbg/*
opt/*
install/*
bin/*

# Build directories
examples/navsto_*

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Apptainer images
*.sif
*.sif/
*.img
*.img/
